@import "style";

$post-color: $purplec;
$post-highlight: lighten($post-color, 16%);

body {
    grid-template-areas:
        "header"
        "nav-blog"
        "main"
        "footer";
    grid-template-rows: auto 76px 1fr 93px;
}

#hero {
    background-color: $post-color;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: calc(10vw * 0.7);
        padding: 0.5em;
    }
}

#new-title {
    outline: none;
}

#nav-blog {
    border-top-width: 8px;
    border-bottom: solid $black 12px;
}

.nav-item:hover {
    background-color: $post-highlight;
}

#main {
    border-top: solid $post-color 6px;
    border-bottom: solid $post-color 6px;

    display: grid;
    grid-template-areas:
        ". controls tags"
        ". article tags"
        ". buttons tags";
    grid-template-columns: 1fr 42em 1fr;
    grid-template-rows: 47px 1fr 72px;
}

#new-post-controls {
    display: flex;
    margin-top: 5px;
    grid-area: controls;
}

.control-panel {
    border-right: solid $black 4px;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}

.control-panel:last-child {
    border-right: none;
}

.control-panel-item {
    background-color: $post-color;
    padding: 12px;
    color: $black;
    cursor: pointer;
    flex: 1;
    text-align: center;
    font-size: 20px;
    user-select: none;
}

.control-panel-item:hover {
    background-color: $post-highlight;
}

.control-panel-item:active {
    i {
        color: $grey;
    }
}

#new-post {
    color: $bluetext;
    padding: 1em;
    width: 40em;
    outline: none;
    flex: 1;
    background-color: rgba($grey, 0.05);
    grid-area: article;
    height: calc(100% - 2em);

    code {
        outline: none;
    }
}

.new-post-button {
    background-color: $black;
    color: $post-color;
    border-color: $post-color;
    align-self: center;
    outline: none;
    font-family: $arvo;
}

.new-post-button:hover {
    background-color: $post-color;
    color: $black;
    border-color: $post-color;
}

#post-buttons {
    display: flex;
    justify-content: space-between;
    grid-area: buttons;
}

#footer {
    background-color: $grey;
    border-top: solid $black 12px;
}

h2 {
    width: 40rem;
    text-align: right;
    color: $post-color;
    margin-top: 0;
}

#tags-container {
    grid-area: tags;
    height: 100%;
    width: calc(100% - 2em);
    margin-left: 0;
    border: none;
    font-family: $arvo;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    #tags-header {
        width: 100%;
        height: 47px;
        margin-top: 3px;
        align-items: center;
        display: flex;
        border-bottom: solid $post-color 2px;

        h2 {
            color: $post-color;
            width: 100%;
            text-align: center;
            margin: 0;
        }
    }

    // #tags-input{
    //     width: 100%;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;

    // }

    #tag-list {
        flex-direction: row;
        flex-wrap: wrap;
        // width: 100%;
        // flex: 1;
        margin-top: 1em;

        .blog-tag {
            flex: 1;

            &:hover {
                border-color: $post-color;
            }
        }

        .blog-tag:hover {
            background-color: $post-color;
        }

        #new-tag {
            background-color: $black;
            color: $grey;
            cursor: auto;
            flex-basis: 100%;
            margin-top: 1em;
            padding: 0.5em;
            outline: none;

            &:focus {
                border-color: $post-color;
            }
        }
    }
}

.blog-content {
    font-family: $body-font;
    grid-area: content;
    line-height: 2;

    h1 {
        color: $post-color;
        text-align: center;
    }

    ul {
        list-style: disc;
        padding-left: 1em;
    }

    a {
        color: $post-color;
        cursor: pointer;
        text-decoration: underline;
    }
}

#modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(white, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: $red;
    padding: 1em;
    border: solid $black 8px;
    position: relative;
}

.modal-header {
    text-align: center;
    color: $black;
    font-size: 2em;
    margin: 0em;
}

.modal-close-btn {
    color: $black;
    position: absolute;
    right: 0;
    top: 0;
    /* padding: 1em; */
    width: 40px;
    height: 40px;
    text-align: center;
    // border: solid $black 3px;
    // border-top: 0;
    // border-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
}

.modal-input-container {
    display: flex;
    justify-content: center;
    padding: 1em;

    label {
        padding: 13px;
        color: $black;
        cursor: pointer;
        background-color: white;
        border: solid $black 4px;
        font-family: $arvo;
        display: flex;
        align-items: center;
        width: 33%;
        justify-content: center;
        &:hover {
            color: $red;
            background-color: $black;
        }
    }

    input[type="file"] {
        display: none;
    }
}

.modal-label {
    color: $black;
}

.modal-input {
    padding: 0.25em;
    outline: none;
    border: solid $black 3px;
}

.modal-controls {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

.modal-btn {
    color: $black;
    border-color: $black;
    flex: 0 0 33%;
    outline: none;
    border-width: 4px;
}

.modal-btn:hover {
    color: $red;
    background-color: $black;
    border-color: $black;
}

.modal-hidden {
    display: none;
}

#modal.modal-hidden {
    display: none;
}
