{% extends "blog/base.html" %} {% load static %} {% block title %} New Post {% endblock title %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/new_post.css' %}" /> {% endblock css %} {% block accounts %}{% endblock accounts %} {% block hero %}
<h1>
    <div id="new-title" contenteditable="true"> [ Enter Title Here ] </div>
</h1>
{% endblock hero %} {% block top_nav %}
<nav id="nav-blog" class="nav">
    <a href="{% url 'home' %}" class="nav-item">
        <> Back to Main Site
            <>
    </a>
</nav>
{% endblock top_nav %}

<!--  -->

{% block main %} {% comment %}
<div id="new-post-container"> {% endcomment %}

    <div id="modal" class="modal-hidden">
        <div class="modal-content">
            <h3 class="modal-header">Enter Information:</h3>
            <div class="modal-close-btn" id="modal-close-btn">
                <i class="fal fa-times"></i>
            </div>
            <div class="modal-input-container">

                <input type="text" class="modal-input modal-hidden" name="modal-input" id="modal-input-link">

                <label id="modal-input-file" class="modal-hidden">
                    <span id="modal-input-file-text"> Upload Image </span>
                    <form id="imageForm">
                        <input type="file" id="id_docfile" name="docfile">
                    </form>
                </label>

            </div>
            <div class="modal-controls">
                <button class="modal-btn" id="modal-ok">Ok</button>
                <button class="modal-btn" id="modal-cancel">Cancel</button>
            </div>
        </div>
    </div>

    <div id="new-post-controls">
        <div class="control-panel">
            <div class="control-panel-item" id="bold-btn" onclick="formatDoc('bold');">
                <i class="fas fa-bold"></i>
            </div>
            <div class="control-panel-item" onclick="formatDoc('italic');">
                <i class="fas fa-italic"></i>
            </div>
            <div class="control-panel-item" onclick="formatDoc('underline');">
                <i class="far fa-underline"></i>
            </div>
        </div>
        <div class="control-panel">
            <div class="control-panel-item" onclick="formatDoc('formatblock','blockquote');">
                <i class="fas fa-quote-left"></i>
            </div>
            <div class="control-panel-item" onclick="formatDoc('insertunorderedlist');">
                <i class="far fa-list"></i>
            </div>
            <div class="control-panel-item" onclick="formatDoc('formatblock','h1');">
                <i class="fas fa-heading"></i>
            </div>
        </div>
        <div class="control-panel">
            <div class="control-panel-item" onclick="addLink()">
                <i class="fas fa-link"></i>
            </div>
            <!-- <div class="control-panel-item" onclick="let user_url=prompt('Enter URL here','http:\/\/');if(user_url&&user_url!=''&&user_url!='http://'){formatDoc('createlink', user_url)}">
                <i class="fas fa-link"></i>
            </div> -->
            <div class="control-panel-item" onclick="addImage()">
                <i class="fas fa-camera-retro"></i>
            </div>
            <div class="control-panel-item" onclick="formatDoc('insertImage','NEED TO DO THIS MANUALLY');">
                <i class="far fa-folder-open"></i>
            </div>
        </div>
    </div>

    <article id="new-post" class="blog-content" contenteditable="true">
        {% with content=post.content|safe %}
        <!---->
        {{content|default:"<p>Enter post here...</p>"}}
        <!---->
        {% endwith %}

    </article>

    <div id="post-buttons">
        <button class="new-post-button" id="htmlToggle" onclick="toggleDocMode();">Show HTML</button>
        <button class="new-post-button" value="Post" id="new-post-submit">Post</button>
    </div>

    <form name="compiledForm" id="compiledForm" method="POST">
        {% csrf_token %}
        <input type="hidden" name="title" required>
        <input type="hidden" name="content" required>
        <input type="hidden" name="tags" required>
    </form>

    {% comment %} </div> {% endcomment %}

<div id="tags-container" class="blog-tags-container">
    <div id="tags-header">
        <h2>Add Tags</h2>
    </div>

    <ul id="tag-list">
        <li class="blog-tag">
            <a>#art</a>
        </li>
        <li class="blog-tag">
            <a>#dev</a>
        </li>
        <li class="blog-tag">
            <a>#life</a>
        </li>

        <input type="text" id="new-tag" placeholder="Add Tags Here" class="blog-tag blog-tag-input">
    </ul>

</div>

{% endblock main %} {% block scripts %}
<script src="{% static 'blog/js/text-editor.js' %}"></script>
<script src="{% static 'blog/js/tag-list.js' %}"></script> {% endblock scripts %}
