{% extends "blog/base.html" %}
<!--  -->
{% load static %}
<!--  -->
{% block title %} {{ post.title }} {% endblock title %}
<!--  -->
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/post.css' %}" /> {% endblock css %}
<!--  -->
{% block hero %}
<h1>{{ post.title }}</h1>
{% endblock hero %}

<!---->

{% block top_nav %}
<nav id="nav-page" class="nav">
    <a href="{{ post.get_next_post_url }}" class="nav-item" id="next-btn">&lt;&lt; Newer Post</a>
    <a href="{% url 'home' %}" class="nav-item" id="home-btn"> == Home ==</a>
    <a href="{{ post.get_prev_post_url }}" class="nav-item" id="back-btn">Older Post &gt;&gt</a>
</nav>
{% endblock top_nav %} {% block main %}
<div class="spacer"></div>
<article id="post-content" class="blog-content">
    {{ post.content | safe }}
</article>
<div id="tags-list" class="blog-tags-container">
    <h2 id="post-tag-header">Tags</h2>
    <ul>
        {% for tag in post.tags.all %}
        <li class="tag">
            <a href="/?tags={{ tag.name }}" class="tag-link">#{{ tag.name }}</a>
        </li>
        {% endfor %}
    </ul>
    {% if post.author == user %}
    <a href="{% url 'post_update' slug=post.slug %}" id="edit-post">
        <div>Edit Post</div>
    </a>
    {% endif %}
</div>
{% endblock main %} {% block post_main %}
<div id="post-info">
    <span id="post-author">[ {{ post.author }} ]</span>
    <div id="date-container">
        <span id="post-date">{{ post.date_published | date:"n/j/y" }}</span>
        <span id="post-time">{{ post.date_published | date:"h:i A" }}</span>
    </div>
    <div id="post-hearts" class="heart">
        <i class="fal fa-heart" data-pid="{{ post.id }}">
            <span>{{ post.likes.count }}</span>
        </i>
    </div>
</div>
{% endblock post_main %} {% block bot_nav %}
<div id="comments">
    <a name="comments"></a>
    <div id="comments-header">
        <div class="comments-header-item-left">
            <span id="comment-count">{ Comments: {{ comments | length | stringformat:"04d" }} }</span>
        </div>
        <div class="comments-header-item-right">
            <a href="#new-comment" id="add-comment-link">++Add New Comment++</a>
        </div>
    </div>
    <ul id="comments-list">
        {% for comment in comments %}
        <li class="comment-container" data-cid="{{comment.id}}">
            <div class="comment-info {% if comment.author == post.author %} author {% endif %}">
                {% if comment.author == None %}
                <span class="unregistered">(unregistered user)</span>
                <span class="comment-username anon">{{ comment.display_author }}</span>
                {% elif comment.author == post.author %}
                <span class="comment-username author">{{ comment.display_author }}</span>
                {% else %}
                <span class="comment-username user">{{ comment.display_author }}</span>
                {% endif %}
                <div class="comment-date-heart">
                    <div class="comment-date-time">
                        <span class="comment-date">{{ comment.timestamp | date:"n/j/y" }}</span>
                        <span class="comment-time">{{ comment.timestamp | date:"g:i A" }}</span>
                    </div>
                    {% if comment.is_edited %}
                    <span class="edited">(E)</span>
                    {% endif %}
                    <div class="comment-heart">
                        <span>{{ comment.likes.count }}</span>
                        <i class="far fa-heart comment-heart-click {% if comment.author == post.author %}author{% endif %}"></i>
                    </div>
                </div>
            </div>


            <div class="comment-background skewed {% if comment.author == post.author %}author{% endif %}">
            </div>
            <div class="comment-content">
                {% if comment.active %}
                <p>{{ comment.content | escape }}</p> {% else %} [ DELETED ] {% endif %}
            </div>
            {% if comment.author == user %}
            <div class="comment-controls-background comment-controls-edit skewed"></div>
            <div class="comment-controls-container">
                <div class="comment-controls">
                    <span class="comment-edit">\ \ \ Edit \ \ \</span>
                    <span class="comment-delete">: : Delete : :</span>
                </div>
            </div>
            {% else %}
            <div class="comment-controls-background skewed"></div>
            {% endif %}

        </li>
        {% endfor %}
    </ul>
</div>

<div id="new-comment-area">
    <a name="new-comment"></a>
    <h2 id="comment-header">New Comment</h2>
    <div id="form-container">
        <form method="POST" id="comment-form">
            {% csrf_token %}
            <div id="input-container">
                <span>[Name]</span>
                {% if user.is_authenticated %}
                <span>{{ user.username }}</span>
                <input type="hidden" name="display_author" value="{{ user.username }}"> {% else %}
                <input type="text" id="name-input" name='display_author'> {% endif %}
                <span>[Name]</span>
            </div>
            <textarea name="content" id="comment-input" cols="30" rows="10"></textarea>
            <input type="submit" value="++ Post ++" id="comment-submit" data-pid="{{ post.id }}">
        </form>
        <div id="middle-stripe"></div>
    </div>

</div>
{% endblock bot_nav %} {% block footer %}
<footer id="footer">
    <div id="footer-lines"></div>
    <div id="footer-color"></div>
    <div id="footer-content">
        <span id="copyright">© Eric Varela</span>
        <div id="social">
            <a class="social-icon" href="">
                <i class="fab fa-facebook"></i>
            </a>
            <a class="social-icon" href="">
                <i class="fab fa-github-square"></i>
            </a>
            <a class="social-icon" href="">
                <i class="fab fa-linkedin"></i>
            </a>
            <a class="social-icon" href="">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="social-icon" href="">
                <i class="fab fa-reddit-square"></i>
            </a>
            <a class="social-icon" href="">
                <i class="fab fa-vimeo"></i>
            </a>
        </div>
    </div>
</footer>
{% endblock footer %} {% block scripts %}
<script src="{% static 'blog/js/comments.js' %}"></script> {% endblock scripts %}
