{% extends "blog/base.html" %}
{% load static %}

{% block title %} Blog Post {% endblock title %}


{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'blog/css/post.css' %}" />{% endblock css %}


{% block hero %}
    <h1>{{ post.title }}</h1>
{% endblock hero %}


{% block top_nav %}
<nav id="nav-page" class="nav">
    <a href="{{ post.get_next_post_url }}" class="nav-item" id="next-btn">&lt;&lt; Newer Post</a>
    <a href="{% url 'home' %}" class="nav-item" id="home-btn"> == Home ==</a>
    <a href="{{ post.get_prev_post_url }}" class="nav-item" id="back-btn">Older Post &gt;&gt</a>
</nav>
{% endblock top_nav %}


{% block main %}
<article id="post-content">
    {{ post.content | safe }}
</article>
{% endblock main %}


{% block post_main %}
<div id="post-info">
    <span id="post-author">[ {{ post.author }} ]</span>
    <div id="date-container">
        <span id="post-date">{{ post.date_published | date:"n/j/y" }}</span>
        <span id="post-time">{{ post.date_published | date:"h:i A" }}</span>
    </div>
    <div id="post-hearts" class="heart">
        <i class="fal fa-heart">
            <span>{{ post.likes.count }}</span>
        </i>
    </div>
</div>
{% endblock post_main %}


{% block bot_nav %}
<div id="comments">
    <a name="comments"></a>
    <div id="comments-header">
        <div class="comments-header-item-left">  <span id="comment-count">{ Comments: {{ post.post_comments.count | stringformat:"04d" }} }</span> </div>
        <div class="comments-header-item-right">  <a href="#new-comment" id="add-comment-link">++Add New Comment++</a> </div>
    </div>
    <ul>
    {% for comment in post.post_comments.all %}
    <li class="comment-container">
        <div class="comment-info {% if comment.author == post.author %} author {% endif %}">
            {% if comment.author == None %}
            <span class="unregistered">(unregistered user)</span>
            <span class="comment-username anon">{{ comment.display_author }}</span>
            {% elif comment.author == post.author %}
            <span class="comment-username author">{{ comment.display_author }}</span>
            {% else %}
            <span class="comment-username user">{{ comment.display_author }}</span>
            {% endif %}
            <span class="comment-date">{{ comment.timestamp | date:"n/j/y" }}</span>
            <span class="comment-time">{{ comment.timestamp | date:"h:i A" }}</span>
            {% if comment.is_edited %}
            <span class="edited">(Edited)</span>
            {% endif %}
        </div>
        

        
        <div class="comment-background skewed {% if comment.author == post.author %}author{% endif %}">
        </div>
        <div class="comment-content">
            <p>{{ comment.content }}</p>
        </div>
        <div class="comment-controls-background skewed"></div>
        <div class="comment-controls">
            <div class="heart comment-heart"><i class="fal fa-heart"><span>999</span></i></div>
        </div>
    </li>
    {% endfor %}
    {% comment %} {% for x in "12345" %}
    <li class="comment-container">
        <div class="comment-info {% cycle '' '' '' '' 'author' %}">
            {% if forloop.counter == 3 %}
            <span class="unregistered">(unregistered user)</span>
            {% endif %}
            <span class="comment-username {% cycle 'user' 'user' 'anon' 'user' 'author' %}">{% lorem 1 w random %}</span>
            <span class="comment-date">{% now "n/j/y" %}</span>
            <span class="comment-time">{% now "h:i A" %}</span>
            {% if forloop.counter == 4 %}
            <span class="edited">(Edited)</span>
            {% endif %}
        </div>
        <div class="comment-background skewed {% cycle '' '' '' '' 'author' %}">
        </div>
        <div class="comment-content">
            {% lorem 1 p random %}
        </div>
        <div class="comment-controls-background skewed"></div>
        <div class="comment-controls">
            <div class="heart comment-heart"><i class="fal fa-heart"><span>999</span></i></div>
        </div>
    </li>
    {% endfor %} {% endcomment %}
    </ul>
</div>

<div id="new-comment-area">
    <a name="new-comment"></a>
    <h2 id="comment-header">New Comment</h2>
    <div id="form-container">
        <form method="POST" id="comment-form">
            {% csrf_token %}
            <div id="input-container">
                <span>[Name]</span>
                {% if user.is_authenticated %}
                    <span>{{ user.username }}</span>
                    <input type="hidden" name="display_author" value="{{ user.username }}">
                {% else %}
                <input type="text" id="name-input" name='display_author'>
                {% endif %}
                <span>[Name]</span>
            </div>
            <textarea name="content" id="comment-input" cols="30" rows="10"></textarea>
            <input type="submit" value="++ Post ++" id="comment-submit">
        </form>
        <div id="middle-stripe"></div>
    </div>
</div>
{% endblock bot_nav %}


{% block footer %}
<footer id="footer">
    <div id="footer-lines"></div>
    <div id="footer-color"></div>
    <div id="footer-content">
        <span id="copyright">© Eric Varela</span>
        <div id="social">
            <a class="social-icon" href=""><i class="fab fa-facebook"></i></a>
            <a class="social-icon" href=""><i class="fab fa-github-square"></i></a>
            <a class="social-icon" href=""><i class="fab fa-linkedin"></i></a>
            <a class="social-icon" href=""><i class="fab fa-instagram"></i></a>
            <a class="social-icon" href=""><i class="fab fa-reddit-square"></i></a>
            <a class="social-icon" href=""><i class="fab fa-vimeo"></i></a>
        </div>
    </div>
</footer>
{% endblock footer %}
