@import "style";

$login-color: $green;
$login-highlight: lighten($login-color, 15%);

body {
    grid-template-areas:
        "header"
        "nav-blog"
        "main"
        "footer";
    grid-template-rows: 256px 80px 1fr 93px;
}

#hero {
    background-color: $login-color;
    position: relative;

    h1 {
        margin-top: 0.4em;
    }
}

#header-sitename {
    position: absolute;
    bottom: -0.4em;
}

h2 {
    font-size: 4em;
    font-family: $josefin;
    margin: 0;
    line-height: 0.6;
}

#nav-blog {
    border-bottom: solid $black 16px;
}

.nav-item:hover {
    background-color: $login-highlight;
}

#main {
    border-bottom: solid $login-color 4px;
    border-top: solid $login-color 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 1.75rem;
    width: 100%;
}

.form-element {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0.75em 0;
    width: 400px;
}
input {
    width: 400px;
}

.errorlist {
    list-style-type: square;
    margin-top: 0.5em;
    li {
        color: $red;
        font-size: 0.6em;
        margin: 0.3em;
        text-align: left;
        width: 400px;
    }
}

.form-label {
    color: $login-color;
    font-family: $arvo;
    display: block;
    margin-bottom: 0.6em;
}

.form-input {
    border: none;
    padding: 0.3em;
    font-size: 0.7em;
    margin: 0;
    display: block;
    text-align: center;
    outline: none;
    border: solid transparent 5px;
}

.form-input:focus {
    border: solid $login-color 5px;
}

.form-btn {
    color: $login-color;
    background-color: $black;
    border: solid $login-color 3px;
    padding: 10px;
    margin-top: 0.5em;
    font-family: $arvo;
    transition: 0.2s;
    width: calc(400px + 5px + 0.6em);
}

.form-btn:hover {
    background: $login-color;
    color: $black;
    cursor: pointer;
}

#footer {
    background-color: $login-color;
    border-top: solid $black 24px;
}
