{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/errors.css' %}" />
</head>

<body>
    <a href="/"><h2> SiliconUnicorn.com </h2></a>
    <div class="error-box">
        <h1>404</h1>
        <p>Page Not Found</p>
    </div>
    <a href="/"><h2> &lt; &lt; back to safety &lt; &lt; </h2></a>
</body>
</html>
